# -*- mode: snippet -*-
# name: checkmaven
# key: checkmaven
# --
output=\`mvn --version | grep "Apache Maven"\`
if [ -z "$output" ]; then
    echo "[ERROR] - mvn not found";
    echo "[INFO] - you can it here: http://maven.apache.org"
    exit 0
fi